<article id="<%= question.id %>">
<%if login_check%>
  <form id="upvote_button" class="upvote_button" method="post" action="/votes">
      <input type="hidden" name="vote_id" value="true">
      <input type="hidden" name="voteable_id" value="<%= question.id %>">
      <input type="hidden" name="voteable_type" value="Question">
      <input type="submit" value="^">
  </form>
  <form id="downvote_button" class="downvote_button" method="post" action="/votes">
      <input type="hidden" name="vote_id" value="false">
      <input type="hidden" name="voteable_id" value="<%= question.id %>">
      <input type="hidden" name="voteable_type" value="Question">
      <input type="submit" value="v">
  </form>
<%end%>
  <p class="question_id">Question #<%=question.id%></p>
  <form id="question" method="get" action='/questions/<%= question.id %>'>
    <div>

      <input type="submit" value="<%= question.title %>" style=" border-width:0px; color:blue; " />

  </div>
    <%=question.id%>
    <input id="question_titles" type="submit" value="<%= question.title %>"  />
    <%=question.vote_tally%> votes
    </form>
   <p class="vote_tally">Score: <%=question.vote_tally%></p>
</article>


