<article id="<%= question.id %>">
<%if login_check%>
  <form id="upvote_button" class="upvote_button" method="post" action="/votes">
      <input type="hidden" name="vote_id" value="true">
      <input type="hidden" name="voteable_id" value="<%= question.id %>">
      <input type="hidden" name="voteable_type" value="Question">
      <input type="submit" value="^">
  </form>
  <form id="downvote_button" class="downvote_button" method="post" action="/votes">
      <input type="hidden" name="vote_id" value="false">
      <input type="hidden" name="voteable_id" value="<%= question.id %>">
      <input type="hidden" name="voteable_type" value="Question">
      <input type="submit" value="v">
  </form>
<%end%>
  <form id="question" method="get" action='/questions/<%= question.id %>'>
    <%=question.id%>
    <input id="question_titles" type="submit" value="<%= question.title %>"  />
    <%=question.vote_tally%> votes
  </form>
</article>
