<article id="<%= question.id %>">
  <form id="upvote_button" method="post" action="/votes">
      <input type="hidden" name="vote_id" value="true">
      <input type="hidden" name="voteable_id" value="<%= question.id %>">
      <input type="hidden" name="voteable_type" value="Question">
      <input type="submit" value="^">
    </form>
    <form id="downvote_button" method="post" action="/votes">
      <input type="hidden" name="vote_id" value="false">
      <input type="hidden" name="voteable_id" value="<%= question.id %>">
      <input type="hidden" name="voteable_type" value="Question">
      <input type="submit" value="v">
    </form>
  <form id="question" method="get" action='/questions/<%= question.id %>'>
    <%=question.id%>
    <input type="submit" value="<%= question.title %>" style=" border-width:0px; color:blue; " />
    <%=question.vote_tally%>
  </form>
</article>
