<div id="centering">
	<h2><%= @question.title %></h2>
	<p class="body_fonts"><%= @question.body %></p><br>
	<% if login_check && @question.user_id == @user.id%>
		<h4><a id="edit-question-link" class="comment" href="/questions/<%= @question.id %>/Question/<%= @question.id %>/edit">Edit question</a></h4><br>
	<% end %>
	<h3><%= @question.comments.count %> Comments</h3>
	<% @question.comments.each do |comment| %>
		<hr><%= comment.body  %></hr><br><br>
	<% end %>
	<br>
	<% if login_check %>
		<h4><a class="comment" href="/questions/<%= @question.id %>/comments/new">Add a comment</a></h4>

		<div class="text-form hidden">
		  <form method="Put" action="/Question/<%=@question.id%>" align="center">
		    <h3>Edit your question</h3>
		    <textarea id="edit-field" rows="4" cols="20" name="body_text"><%=@question.body%></textarea>
		    <input id="submit-edit" type="submit" value="submit">
		  </form>
		</div>

	<% end %>
	<br>
	<h3><%= @question.answers.count %> Answers</h3>
	<div class="verticalLine">
	<% @question.answers.each do |answer|%>
		<% if answer.best_answer %>
			
				<h4 id="best_answer">Best answer</h4>
				<p class="body_fonts"><%= answer.body %></p>
			</div>	
					<h3><%= answer.comments.count %> Comments</h3>					
					<% answer.comments.each do |comment| %>
						<hr><%= comment.body %></hr><br>
					<% end %>

					<% if login_check %>
						<h4><a class="comment" href="/answers/<%= answer.id %>/comments/new">Add a comment</a></h4>
					<% end %>
					<% if login_check && @answer.user_id == @user.id %>
							<h4><a class="comment" href="/questions/<%= @question.id %>/Answer/<%= answer.id %>/edit">Edit answer</a></h4>
					<% end %>
				<br>
		  
	  <% end %>
	<% end %>
	<% if @question.answers != [] %>
	<div class="verticalLine">
	<% @question.answers.each do |answer|%>
		<% if !answer.best_answer && login_check%>

					<p class="body_fonts"><%= answer.body %></p>
	</div>
						<h3><%= answer.comments.count %> Comments</h3>	
						<% answer.comments.each do |comment| %>
							<hr><%= comment.body %></hr><br><br>
						<% end %>

						<% if @question.user_id == @user.id && !@question.answers.find { |answer| answer.best_answer } %>
					  	<form method="post" action="/answers/<%= answer.id %>">
								<input type="submit"  value="Pick as best answer."></input><br>
							</form>
						<% end %>

						<% if login_check %>
							<h4><a class="comment" class="comment" href="/answers/<%= answer.id %>/comments/new">Add a comment</a></h4>
						<% end %>

						<% if login_check && @answer.user_id == @user.id %>
								<h4><a class="comment" href="/questions/<%= @question.id %>/Answer/<%= answer.id %>/edit">Edit answer</a></h4>
						<% end %>
	  <% end %>
		<br>
	<% end %>
<% end %>
	<br>

	<% if login_check %>
		<h4><a class="comment" href="/questions/<%= @question.id %>/answers/new">Add an answer</a></h4>
	<% end %>
</div>




