<div>
	<h2><%= @question.title %></h2><br>
	<p class="question-body"><%= @question.body %></p><br><br><br>
	<% if login_check && @question.user_id == @user.id%>
		<a id="edit-question-link" href="/questions/<%= @question.id %>/Question/<%= @question.id %>/edit">Edit question</a><br>
	<% end %>
	<% @question.comments.each do |comment| %>
		<%= comment.body  %><br><br>
	<% end  %>

	<% if login_check %>
		<h3><a href="/questions/<%= @question.id %>/comments/new">Add a comment</a></h3>

		<div class="text-form hidden">
		  <form method="Put" action="/Question/<%=@question.id%>" align="center">
		    <h1>Edit your question</h1>
		    <textarea id="edit-field" rows="4" cols="20" name="body_text"><%=@question.body%></textarea>
		    <input id="submit-edit" type="submit" value="submit">
		  </form>
		</div>

	<% end %>
	<h3>Answers:</h3>
	<% @question.answers.each do |answer|%>
		<ul>
			<li><%= answer.body %><br><br>
				<%if answer.best_answer%>
					<h3>~*Best Answer*~</h3>
				<%end%>
				<br><br>
				<% answer.comments.each do |comment| %>
					<%= comment.body %><br><br>
				<% end %>
				<% if @question.user_id == @user.id %>
			  	<form method="post" action="/answers/<%= answer.id %>">
						<input type="submit"  value="Pick as best answer."></input><br>
					</form>
				<% end %>

				<% if login_check %>
					<h3><a href="/answers/<%= answer.id %>/comments/new">Add a comment</a></h3>
				<% end %>
				<% if login_check %>
					<% if @answer.user_id == @user.id %>
						<a href="/questions/<%= @question.id %>/Answer/<%= answer.id %>/edit">Edit answer</a>
					<% end %>
				<% end %>
			</li>
	  </ul>
		<br>
	<% end %>
	<% if login_check %>
		<h3><a href="/questions/<%= @question.id %>/answers/new">Add an answer</a></h3>
	<% end %>
</div>




