<!-- <div class="text-form hidden">
  <form method="Post" action="/questions/" align="center">
    <h1>Edit your <%= @comment_type.downcase %></h1>
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="question_id" value=<%=params[:question_id]%>>
    <textarea id="edit-field" rows="4" cols="20" name="body_text"><%=text_info%></textarea>
    <input id="submit-edit" type="submit" value="submit">
  </form>
<div> -->
<div class="text-form hidden" id="<%=comment_type%>">
  <form method="Post" action="<%=route%>" align="center">
    <h1>Edit your <%= @comment_type.downcase %></h1>
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="question_id" value=<%=params[:question_id]%>>
    <textarea id="edit-field" rows="4" cols="20" name="body_text"><%=text_info%></textarea>
    <input id="submit-edit" type="submit" value="submit">
  </form>
<div>
